/* Estilos globales */
body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffbe0d;
}

/* Contenedor de formulario de datos y formulario de ABM */
#form-data-container,
#form-amb-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #ffbe0d;
  border-radius: 10px;
  background-color: #3131d2;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

#form-amb-container {
  display: none;
}

/* Título del formulario */
#title-form {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}

/* Contenedor de campos de entrada */
#inputs-container,
#inputs-container-amb {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* Campos de entrada y etiquetas */
#input-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  font-weight: normal;
  font-size: 14px;
  color: #ffbe0d;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ffbe0d;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 16px;
}

/* Contenedores de botones */
#buttons-container,
#btns-container-edit-delete,
#btns-container-add {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Botones */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

#btn-add {
  background-color: #ffec40;
  color: #3131d2;
}

#btn-edit {
  background-color: #ffc107;
  color: #3131d2;
}

#btn-delete {
  background-color: #dc3545;
  color: #fff;
}

/* Campos de filtro y cálculo de edad promedio */
#field-type-filter,
#field-calculate-age-average {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: #fff;
}

#ddl-type-filter,
#num-calculate-age-average {
  width: 100px;
  padding: 10px;
  font-size: 16px;
}

#lbl-type-filter,
#lbl-calculate-age-average,
#lbl-ckl-colums {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #ffbe0d;
}

#btn-calculate-age-average {
  min-height: min-content;
  height: 40px;
  font-size: 16px;
}

/* Opciones de columnas a mostrar */
#ckl-colums-to-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  color: #ffbe0d;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

#chk-label {
  font-size: 16px;
  font-weight: normal;
  color: #ffbe0d;
}

.chk-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

/* Contenedor de la tabla */
#table-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

/* Tabla y celdas */
table,
th,
td {
  border: 2px solid #3131d2;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}